@charset "UTF-8";

.container-wrapper {
	margin-top: 80px;
}

.table {
	table-layout:fixed;
	overflow:auto;
}

.table th {
	text-align: center;
	overflow: hidden;
}


/* .table td a {
	width: 30%;
	font-size: 10px
}  */
